@font-face {
    font-family: Galega;
    src: url(../assets/fonts/galega.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    color: #333;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navbar  {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    gap: 25px;
}
.navbar img {
    max-width: 8rem;
    max-height: 90%;
}
.navbar h1 {
    font-size: 3.5rem;
    color: #101010;
    font-family: Galega;
}
.section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 1.5rem;
    background-color: #fff;
}
.section:nth-child(even) {
    background-color: #f0f0f0;
}
.mark-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.mark-section img {
    max-width: 5rem;
    max-height: 80%;
}
.mark-section h2 {
    font-size: 2em;
    font-weight: 600;
}
.ini-section {
    height: auto;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}
.telOption {
    width: 25rem;
    height: auto;
    display: block;
    align-content: center;
    position: relative;
}
.telOption .video-sources {
    width: 100%;
}
.ini-card-image {
    max-width: 18rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.ini-card-image:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.08);
}
.source-card-ini{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    aspect-ratio: 1/1;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    cursor: pointer;
    border-radius: 5px;
}
.telOption span {
    width: 100%;
    color: #0058b1;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.video-sources {
    width: 85%;
    aspect-ratio: 16/9;
    background-image: url(../assets/icons/ytb.svg), url(../assets/images/thumbs/2.png);
    background-position: center;
    background-size: 50px, cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.video-sources:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.05);
}
.video-sources:nth-child(2){
    background-image: url(../assets/icons/ytb.svg), url(../assets/images/thumbs/2.png);
}
.video-sources:nth-child(3){
    background-image: url(../assets/icons/ytb.svg), url(../assets/images/thumbs/3.png);
}
.video-sources:nth-child(4){
    background-image: url(../assets/icons/ytb.svg), url(../assets/images/thumbs/4.png);
}
.sub-video-cont {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.especial-video {
    width: 30rem;
    position: unset;
}
.modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #000000b8;
    transform: scale(0);
    opacity: 0;
    transition: all .5s cubic-bezier(1, 0, 0, 1);
    animation: appear .5s linear both;
    z-index: 999;
}
#player {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.close-button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background: url(../assets/icons/closebtn.svg) center / 30px no-repeat;
    border-radius: 50%;
}
.samsungarea {
    height: 50vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.midtitle {
    font-size: clamp(1.2em, 2em, 5rem);
    color: #101010;
    position: absolute;
    left: 50px;
    z-index: 1;
    letter-spacing: 2px;
}
.simpleParallax {
    width: 100%;
}
.telTars {
    width: 100%;
    padding: 0 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mob-tarj {
    width: 10rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.image-tarj {
    max-width: 20rem;
}
.samsung-area-cards {
    flex-direction: column;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#iniCards-ow  {
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#iniCards-ow,
.samsung-area-cards #xiaomiCards-ow,
.samsung-area-cards #samsungCards-ow,
.samsung-area-cards #honorCards-ow,
.samsung-area-cards #hyperosCards-ow,
.samsung-area-cards #icloudCards-ow,
.samsung-area-cards #unlocktoolCards-ow {
    width: 100%;
}
.view-more-button {
    width: 18rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: #004eba;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 0px;
}
#xiaomi-tarjs {
    width: 100%;
}
.telegram-channel,
.whatsapp-channel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e1e8f2 !important;
}
.whatsapp-channel {
    background-color: #97f7b4 !important;
}
.hcontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.telegramimage {
    width: 50%;
    height: 90%;
    display: grid;
    align-content: center;
}
.telegramimage img {
    max-width: 100%;
    max-height: 100%;
}
.text-social {
    width: 50%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.text-social h3 {
    font-size: 1.5em;
    color: #006abf;
}
.whatsapp-channel .text-social h3 {
    color: #009506;
}
.text-social p {
    font-size: 1.2rem;
    color: #434343;
    text-align: left;
}
.whatsapp-channel .join-social,
.join-social {
    width: 14rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 12px;
    background: #0496e1;
    color: #fff;
    font-weight: 600;
    font-size: 0.7em;
    box-shadow: inset 2px 3px 9px 0 #8ed9ff, 3px 3px 9px 0 #0186c9;
    cursor: pointer;
}
.whatsapp-channel .join-social {
    box-shadow: inset 2px 3px 9px 0 #baffbb, 3px 3px 9px 0 #009503;
    background: #00a703;
}
.floatingButtons {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 888;
}
.f-btn {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 0;
    background: #00000000;
    cursor: pointer;
}
.f-btn img {
    max-width: 65px;
    max-height: 65px;
    aspect-ratio: 1/1;
    object-fit: contain;
    position: relative;
    filter: drop-shadow(2px 2px 3px #00000033);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}
#btTelegram img{
    max-width: 60px;
    max-height: 60px;
}
.f-btn img:hover {
    transform: translateX(-20%) scale(1.1);
    transition: all .5s cubic-bezier(1, 0, 0, 1);
}
.ccard-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;

}
.ccard-container span {
    font-size: 12px;
    padding: 10px 0px;
    color: #9f9f9f;
}
.ws-head {
    width: 100%;
    background: #2db742;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0px 0px;
}
.tg-head {
    background: #4dbfe5;
}
.ws-logo {
    width: 100px;
    height: 10vh;
    background: url(../assets/images/whatsapp.svg) top / 100% no-repeat;
}
.telg {
    background: url(../assets/images/telegram.svg) top / 100% no-repeat;
}
.ws-text-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.ws-text-container h2 {
    text-align: left;
    font-size: 15px;
    color: #fff;
    margin-bottom: 15px;
}
.ws-text-container span {
    text-align: left;
    font-size: 13px;
    color: #fff;
}
.ws-button {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000000;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 4px 0px 0 0 #2db742;
    margin-bottom: 20px;
    cursor: pointer;
}
.tgbtn {
    box-shadow: inset 4px 0px 0 0 #3c96b4;
}
.ws-button img {
    max-width: 100%;
}
/* Responsivo para móviles pequeños */
@media (max-width: 600px) {
    .section {
        font-size: 1.2rem;
        padding: 40px 15px;
    }
    .ini-section {
        height: auto;
        gap: 20px;
        padding: 0px;
    }
    .telOption {
        width: 10rem;
        border-radius: 8px;
        overflow: hidden;
    }
    .vid-section {
        height: auto;
    }
    .video-sources {
        width: 20rem;
    }
    .samsungarea {
        height: 35vh;
        padding: 0;
    }
    .especial-video {
        width: 22rem;
    }
    .navbar h1 {
        font-size: 1.3rem;
    }
    .sub-video-cont {
        flex-direction: column;
        gap: 20px;
    }
    .hcontainer {
        flex-direction: column;
    }
    .text-social {
        width: 100%;
    }
    .text-social p {
        text-align: center;
    }
    .ws-button {
        margin-bottom: 15px;
        height: 70px;
    }
    .ws-button img {
        max-width: 80%;
    }

}